body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    color: #5b7ab8;
    font-weight: 100;
}
p, div {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;    
}

th, td {
  padding: 10px;
}

date {
    font-weight:900;
}

heavy {
    font-weight:900;
}

footer {
    text-align: center;
    padding: 3px;
    margin-top: 40px;
    background-color: #fdfdfd;
}

img.coverpage { 
    width: 350px;
    border: 2px solid #A8B7E9; 
    padding: 0.5em;
}
